.student {
  margin: 0;
  padding: 0;
}

ul {
  border: 1px solid #eee;
}

li {
  padding: 10px;
}

div a {
  padding-left: 10px;
}

div.links {
  display: inline-block;
  width: 50%;
  text-align: right;
}

div.name {
  display: inline-block;
  width: 50%;
}

#roster {
  border: 1px solid #ccc;
}

li {
  border-top: 1px solid #ccc;
}

li:first-child {
  border: none;
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  [type='text'] {
    margin-bottom: 0px;
  }
}
