#mutant_list {
  border: 1px solid #ddd;
  border-radius: 4px;
}

#mutant_list li {
  min-height: 6em;
}

#mutant_list .mutant {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

#mutant_list .mutant span {
  display: block;
}

#mutant_list .mutant:last-child {
  border-bottom: none;
}

#mutant_list .mutant-links {
  text-align: right;
}

#mutant_list .mutant-delete.button {
  background-color: #ff5555;
  margin-top: 16px;
  transition: .3s;
}

#mutant_list .mutant-edit.button {
  background-color: #77ff77;
  margin-top: 16px;
  transition: .3s;
}

#mutant_list .mutant-delete.button:hover {
  background-color: #ff2222;
}

#mutant_list .mutant-edit.button:hover {
  background-color: #55ff22;
}
